#airShower {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: opacity 0.4s ease; 
  width: 100%;
  height: 100%;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92rem;
    background-color: $black;
  }
  &::before {
    content: '';
    opacity: 0.8;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100rem;
    background: linear-gradient(180deg, #000000 0%, #1D1D1D 100%);
  }
  .airshower_wrap {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-top: 20rem;
    .airshower_box {
      overflow: hidden;
      pointer-events: none;
      transform: translateY(30%);
      opacity: 0;
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
      width: 88rem;
      height: 142rem;
      padding: 5rem 5rem 0;
      background-color: rgba($color: #F9F9F9, $alpha: 0.9);
      box-shadow: 0 0.4rem 2rem 0 rgba($color: $black, $alpha: 0.25);
      backdrop-filter: blur(3rem);
      border-radius: 6rem;
      .btn_back {
        display: flex;
        align-items: center;
        font-size: 2.8rem;
        font-weight: $medium;
        color: $black;
        &::before {
          content: '';
          display: block;
          width: 7rem;
          height: 7rem;
          background: url(../images/main/ic_back.svg) no-repeat center/cover;
          filter: invert(1);
        }
      }
      .tit {
        position: relative;
        width: max-content;
        margin: 3rem auto;
        font-family: $font-PlusJakartaSans;
        font-size: 10rem;
        font-weight: $semiBold;
        background: linear-gradient(90deg, #3C3C3C 0%, #000000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        .sub_tit {
          position: absolute;
          top: 0;
          right: -1.2rem;
          font-size: 3.2rem;
          font-weight: $medium;
          color: $black;
          -webkit-text-fill-color: $black;
        }
      }
      .airshower_status {
        display: flex;
        gap: 0.4rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 2.8rem;
        font-weight: $semiBold;
        color: #353535;
        .point_txt {
          color: #0F93FF;
        }
        &::before {
          content: '';
          display: block;
          width: 3.2rem;
          height: 3.2rem;
          margin-right: 0.6rem;
          animation: spin 1.2s linear infinite;
          background: url(../images/main/ic_spin_air.svg) no-repeat center/cover;
        }
        &.has_off {
          &::before {
            display: none;
          }
          .point_txt {
            color: #353535;
          }
        }
      }
      .airshower_img {
        position: relative;
        width: 52.4rem;
        height: 52.4rem;
        margin: 0 auto;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          &.off {
            opacity: 0;
            transition: opacity 0.4s;
          }
          &.on_ing {
            opacity: 0;
            transition: opacity 0.4s;
            top: 50%;
            transform: translateY(-50%);
            width: 69.2rem;
            height: 69.2rem;
          }
        }
        .video_box {
          overflow: hidden;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 43.6rem;
          height: 43.6rem;
          border-radius: 50%;
          video {
            opacity: 0;
            transition: all 0.3s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 71.4rem;
            height: 71.4rem;
            border-radius: 50%;
            &.active {
              opacity: 1;
            }
          }
        }
        &.has_off {
          img {
            opacity: 1;
            &.on_ing {
              opacity: 0;
            }
          }
        }
        &.show_ing {
          img {
            &.on_ing {
              opacity: 1;
            }
          }
        }
      }
      .airshower_btn_wrap {
        display: flex;
        gap: 11rem;
        justify-content: center;
        margin-top: 3rem;
        .btn_level {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          width: 9rem;
          height: 17rem;
          &::before {
            content: '';
            transition: all 0.4s;
            display: block;
            position: relative;
            z-index: 1;
            width: 1rem;
            height: 1rem;
            background-color: #E6E6E6;
            box-shadow: 0 0.2rem 0.4rem 0 rgba($color: $black, $alpha: 0.25) inset;
            border-radius: 50%;
          }
          &::after {
            opacity: 0;
            transition: all 0.4s;
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24rem;
            height: 24rem;
            background-color: #D3EBFF;
            filter: blur(10rem);
            border-radius: 50%;
          }
          .ic_wrap {
            position: relative;
            z-index: 1;
            transition: all 0.4s;
            width: 9rem;
            height: 9rem;
            margin: 2rem 0 1.4rem;
            background-image: url(../images/main/airshower_btn.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8.1rem 7.8rem;
          }
          .txt {
            position: relative;
            z-index: 1;
            transition: all 0.4s;
            font-size: 3rem;
            font-weight: $semiBold;
            color: #A8A8A8;
          }
          &.weak {
            .ic_wrap {
              background-size: 4.7rem 4.5rem;
            }
          }
          &.medium {
            .ic_wrap {
              background-size: 5.9rem 5.6rem;
            }
          }
          &.active {
            &::before {
              background-color: #0F93FF;
            }
            &::after {
              opacity: 1;
            }
            .ic_wrap {
              background-image: url(../images/main/airshower_btn_active.png);
            }
            .txt {
              color: #0F93FF;
            }
          }
        }
        &.has_off {
          .btn_level {
            pointer-events: none;
            &.active {
              &::before {
                background-color: #E6E6E6;
              }
              &::after {
                opacity: 0;
              }
              .ic_wrap {
                background-image: url(../images/main/airshower_btn.png);
              }
              .txt {
                color: #A8A8A8;
              }
            }
          }
        }
      }
      .btn_airshower_power {
        display: block;
        transition: all 0.4s;
        width: 21rem;
        height: 21.25rem;
        margin: 4rem auto 0;
        background: url(../images/main/ic_power_active_air.png) no-repeat center/cover;
        &.off {
          background: url(../images/main/ic_power_air.png) no-repeat center/cover;
        }
      }
    }
    .btn_close {
      transition: all 0.2s;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background: $white url(../images/main/ic_close.svg) no-repeat center;
      box-shadow: 0 1rem 2rem 0 rgba($color: $black, $alpha: 0.25);
      backdrop-filter: blur(7rem);
      &:active {
        transform: scale(1.1) rotate(45deg);
        background: $white url(../images/main/ic_close_gray.svg) no-repeat center;
      }
    }
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    .airshower_wrap {
      .airshower_box {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
