.container {
  &.main {
    .content_wrap {
      max-width: 157.2rem;
      width: 100%;
      padding: 0 1.6rem;
      margin: auto;
    }

    /* 비수강생 */
    &#nonStudent {
      padding-top: 6rem;
      padding-bottom: 15rem;
      .visual {
        position: relative;
        .visualSwiper {
          height: 64rem;
          .swiper-wrapper {
            .swiper-slide {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              background-color: $point;
              color: rgba($color: $white, $alpha: 0.48);
            }
          }
          .swiper-pagination {
            display: flex;
            gap: 1.2rem;
            justify-content: center;
            align-items: center;
            bottom: 19rem;
            &-bullet {
              opacity: 0.4;
              width: 0.8rem;
              height: 0.8rem;
              margin: 0;
              background-color: $white;
              &-active {
                opacity: 1;
              }
            }
            &.no_status {
              bottom: 2rem;
            }
          }
        }
        .content_wrap {
          .tit_wrap {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 9rem;
            z-index: 1;
            max-width: 157.2rem;
            width: 100%;
            padding: 0 1.6rem;
            color: $white;
            h3 {
              margin-bottom: 2.4rem;
              font-size: 4.8rem;
              font-weight: $bold;
            }
            .txt {
              font-size: 1.6rem;
              font-weight: $medium;
              line-height: 2.5rem;
            }
          }
          .application_status_wrap {
            position: relative;
            z-index: 1;
            margin-top: -15.2rem;
            padding: 0 3rem;
            background-color: rgba($color: #f7f7f7, $alpha: 0.8);
            border: 0.1rem solid #f1f1f1;
            border-radius: 1.4rem;
            backdrop-filter: blur(80px);
            .my_status {
              display: flex;
              gap: 0.6rem;
              align-items: center;
              position: absolute;
              top: 3rem;
              left: 3rem;
              font-size: 2.6rem;
              font-weight: $bold;
              .num {
                color: $point;
              }
            }
            .statusSwiper {
              padding: 9rem 0 3rem;
              .swiper-wrapper {
                .swiper-slide {
                  .class_info_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 28.9rem;
                    padding: 3rem;
                    background-color: $white;
                    border-radius: 1.4rem;
                    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.07);
                    .class_tit {
                      display: flex;
                      justify-content: space-between;
                      .tit {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 2.2rem;
                        font-weight: $bold;
                        line-height: 2.9rem;
                      }
                      .status {
                        flex-shrink: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 3rem;
                        padding: 0 0.8rem;
                        background-color: $point;
                        border-radius: 0.5rem;
                        font-size: 1.6rem;
                        font-weight: $medium;
                        color: $white;
                        &.complete {
                          background-color: #9ea8ba;
                        }
                      }
                    }
                    .class_info {
                      display: flex;
                      flex-direction: column;
                      gap: 1.2rem;
                      li {
                        display: flex;
                        gap: 2.4rem;
                        align-items: center;
                        font-size: 1.6rem;
                        font-weight: $medium;
                        color: #6a6a6a;
                        .sort {
                          width: 6rem;
                          font-weight: $semiBold;
                          color: $point;
                        }
                      }
                    }
                  }
                }
              }
              .swiper-btn-wrap {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
                align-items: center;
                position: absolute;
                top: 4.3rem;
                right: 0;
                width: 13rem;
                .swiper-pagination {
                  display: flex;
                  gap: 0.2rem;
                  align-items: center;
                  position: static;
                  width: auto;
                  font-size: 1.4rem;
                  font-weight: $semiBold;
                  letter-spacing: -0.02em;
                  color: $point;
                }
                .swiper-button {
                  &-next,
                  &-prev {
                    flex-shrink: 0;
                    position: static;
                    width: 3rem;
                    height: 3rem;
                    margin: 0;
                    background: url(../images/main/ic_30_arrow_swiper.svg)
                      no-repeat center/cover;
                    &::after {
                      display: none;
                    }
                  }
                  &-prev {
                    transform: scaleX(-1);
                  }
                }
              }
            }
          }
        }
      }
      .available_courses_list {
        margin-top: 6rem;
        .content_wrap {
          .tit_wrap {
            display: flex;
            gap: 0.7rem;
            align-items: center;
            font-size: 2.6rem;
            font-weight: $bold;
            .num {
              color: $point;
            }
          }
          .list_wrap {
            margin-top: 2.5rem;
            &.courseListMoSwiper {
              display: none;
            }
            .available_list {
              display: flex;
              gap: 1.2rem;
              padding: 2.5rem 0;
              border-bottom: 0.1rem solid #f0f0f0;
              .day_wrap {
                flex-shrink: 0;
                width: 7.2rem;
                .day {
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  height: 3rem;
                  padding: 0 0.8rem;
                  background-color: $point;
                  border-radius: 0.5rem;
                  font-size: 1.6rem;
                  font-weight: $medium;
                  color: $white;
                  &.today {
                    background-color: #ff4d2d;
                  }
                }
              }
              .info {
                width: calc(100% - 26rem);
                .tit {
                  margin-bottom: 2.4rem;
                  font-size: 2rem;
                  font-weight: $semiBold;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                .detail_wrap {
                  display: flex;
                  gap: 1rem;
                  flex-wrap: wrap;
                  align-items: center;
                  li {
                    flex-shrink: 0;
                    display: flex;
                    gap: 2.2rem;
                    align-items: center;
                    padding: 1rem 1.4rem;
                    background-color: #f6f6f6;
                    border-radius: 0.8rem;
                    font-size: 1.4rem;
                    font-weight: $medium;
                    color: #6a6a6a;
                    &.date {
                      background-color: #f2f7ff;
                    }
                    .sort {
                      position: relative;
                      font-weight: $semiBold;
                      color: $point;
                      &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0.3rem;
                        right: -1.1rem;
                        width: 0.1rem;
                        height: 1.1rem;
                        background-color: #e7e7e7;
                      }
                    }
                  }
                }
              }
              .btn_available {
                flex-shrink: 0;
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                height: 4.7rem;
                margin-top: 1.9rem;
                margin-left: auto;
                padding: 0 2rem;
                background-color: $point;
                border-radius: 0.8rem;
                font-size: 1.6rem;
                font-weight: $medium;
                color: $white;
              }
            }
            .btn_more {
              display: flex;
              gap: 0.8rem;
              justify-content: center;
              align-items: center;
              height: 4.6rem;
              margin: 3rem auto 0;
              padding: 0 2rem;
              border: 0.1rem solid #eaeaea;
              border-radius: 6rem;
              font-size: 1.8rem;
              font-weight: $medium;
              &.active {
                img {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
      .new_info {
        margin-top: 11rem;
        .content_wrap {
          .swiper {
            &.whatsNewSwiper {
              display: block;
            }
            .swiper-btn-wrap {
              .swiper-button {
                &-next {
                  top: 50%;
                  transform: translateY(-50%);
                }
                &-prev {
                  top: 50%;
                  transform: translateY(-50%) scaleX(-1);
                }
                &-disabled {
                  display: none;
                }
              }
            }
            .swiper-container {
              .swiper-wrapper {
                .swiper-slide {
                  display: flex;
                  justify-content: space-between;
                  padding: 0 6rem;
                  &.has_info_box {
                    gap: 7.6rem;
                    justify-content: flex-start;
                    padding-left: 0;
                    .news_list {
                      margin-left: auto;
                    }
                  }
                  .info_box {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    max-width: 50rem;
                    width: 100%;
                    height: 34rem;
                    padding: 3rem;
                    background-color: $point;
                    border-radius: 1.4rem;
                    color: $white;
                    .txt_wrap {
                      .desc {
                        margin-bottom: 2rem;
                        font-size: 1.8rem;
                        font-weight: $bold;
                      }
                      .tit {
                        font-size: 3.4rem;
                        font-weight: $bold;
                        line-height: 4.4rem;
                      }
                    }
                    .btn_all {
                      display: inline-flex;
                      justify-content: center;
                      align-items: center;
                      width: 8.7rem;
                      height: 3.9rem;
                      background-color: $white;
                      border: 0.1rem solid #f3f3f3;
                      border-radius: 0.8rem;
                      font-size: 1.6rem;
                      font-weight: $medium;
                    }
                  }
                  .news_list {
                    max-width: 36.4rem;
                    height: 34rem;
                    li {
                      ~ li {
                        margin-top: 2rem;
                      }
                      a {
                        display: flex;
                        gap: 3rem;
                        align-items: center;
                        .img_wrap {
                          overflow: hidden;
                          flex-shrink: 0;
                          width: 10rem;
                          height: 10rem;
                          border-radius: 0.5rem;
                          img {
                            width: 100%;
                          }
                        }
                        .txt_wrap {
                          width: calc(100% - 13rem);
                          .tit {
                            display: block;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 1.8rem;
                            font-weight: $semiBold;
                            line-height: 2.8rem;
                            letter-spacing: -0.02em;
                          }
                          .desc {
                            display: block;
                            margin-top: 1rem;
                            font-size: 1.6rem;
                            letter-spacing: -0.02em;
                            color: #999999;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .mo_new_info {
            display: none;
          }
        }
      }
    }

    /* 수강생 */
    &#student {
      padding-top: 6rem;
      margin-bottom: 10rem;
      .user_info {
        margin-top: 3rem;
        .content_wrap {
          .user_wrap {
            display: flex;
            justify-content: space-between;
            .tit {
              font-size: 3.6rem;
              font-weight: $semiBold;
              .name {
                font-weight: $bold;
              }
            }
            .select_wrap {
              position: relative;
              .select_box {
                display: flex;
                align-items: center;
                position: relative;
                height: 5rem;
                padding: 0 2.6rem;
                border: 0.1rem solid #f1f1f1;
                border-radius: 2.7rem;
                font-size: 1.6rem;
                font-weight: $medium;
                &::after {
                  flex-shrink: 0;
                  content: "";
                  display: block;
                  width: 1.6rem;
                  height: 1.6rem;
                  margin-left: 4.8rem;
                  background: url(../images/main/btn_more.svg) no-repeat
                    center/cover;
                }
                .desc {
                  flex-shrink: 0;
                  position: relative;
                  margin-right: 2.6rem;
                  color: #737373;
                  &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -1.3rem;
                    width: 0.1rem;
                    height: 1.4rem;
                    background-color: #f1f1f1;
                  }
                }
              }
              .options {
                display: none;
                position: absolute;
                top: 5.8rem;
                left: 0;
                z-index: 2;
                width: 100%;
                padding: 1rem;
                background-color: $white;
                border: 0.1rem solid #f1f1f1;
                border-radius: 1.4rem;
                box-shadow: 0 0.2rem 1.4rem 0 rgba(0, 0, 0, 0.07);
                button {
                  width: 100%;
                  height: 5rem;
                  padding: 0 1.6rem;
                  border-radius: 0.9rem;
                  font-size: 1.4rem;
                  font-weight: $medium;
                  text-align: left;
                  &.active {
                    background-color: #f8f8f8;
                  }
                }
              }
              &.active {
                .select_box {
                  &::after {
                    transform: rotate(180deg);
                  }
                }
                .options {
                  display: block;
                }
              }
            }
          }
          .user_status_wrap {
            display: flex;
            gap: 3.2rem;
            margin-top: 2.4rem;
            .month_wrap {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              max-width: 39.6rem;
              width: 100%;
              height: 34rem;
              padding: 2.4rem 1.4rem 1.4rem;
              background-color: $point;
              border-radius: 1.4rem;
              .month {
                display: flex;
                gap: 0.7rem;
                align-items: center;
                .num {
                  font-size: 2.6rem;
                  font-weight: $semiBold;
                  color: $white;
                }
                .point {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 2.2rem;
                  padding: 0 0.6rem;
                  border: 0.1rem solid #adc7ff;
                  border-radius: 7rem;
                  font-size: 1.2rem;
                  font-weight: $medium;
                  color: #adc7ff;
                }
              }
              .status_list {
                display: flex;
                gap: 1rem;
                li {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 17.4rem;
                  padding: 2rem;
                  background-color: rgba($color: $white, $alpha: 0.13);
                  border-radius: 1.4rem;
                  color: $white;
                  .tit {
                    font-size: 1.6rem;
                    font-weight: $medium;
                    color: #ccdbf2;
                  }
                  .progress_wrap {
                    .num_wrap {
                      display: flex;
                      gap: 0.3rem;
                      justify-content: flex-end;
                      align-items: flex-end;
                      .num {
                        font-size: 3.8rem;
                        font-weight: $semiBold;
                      }
                      .total {
                        opacity: 0.6;
                        padding-bottom: 0.7rem;
                        font-size: 1.8rem;
                      }
                    }
                    .progress_bar {
                      overflow: hidden;
                      position: relative;
                      width: 100%;
                      height: 1.1rem;
                      margin-top: 0.8rem;
                      background-color: rgba($color: $white, $alpha: 0.18);
                      border-radius: 0.2rem;
                      .progress_current {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 70%;
                        height: 100%;
                        background-color: $white;
                        border-radius: 0.2rem;
                      }
                    }
                  }
                }
              }
            }
            .education_wrap {
              max-width: 111.2rem;
              width: 100%;
              height: 34rem;
              padding: 2rem;
              background-color: rgba($color: #f2f2f2, $alpha: 0.7);
              border-radius: 1.4rem;
              .tit_wrap {
                margin-bottom: 3rem;
                .tit {
                  margin-bottom: 0.6rem;
                  font-size: 2.2rem;
                  font-weight: $semiBold;
                }
                .desc {
                  font-size: 1.4rem;
                  font-weight: $medium;
                  color: #9b9b9b;
                }
              }
              .flex_wrap {
                display: flex;
                gap: 1.6rem;
                > div {
                  flex: 1;
                  flex-direction: column;
                  height: 22rem;
                  padding: 1.6rem 1.8rem;
                  background-color: $white;
                  box-shadow: 0.2rem 0.4rem 1.1rem 0 rgba(0, 0, 0, 0.04);
                  border-radius: 1.4rem;
                  &.todo_wrap {
                    display: flex;
                    overflow: hidden;
                    padding-right: 0.4rem;
                    padding-bottom: 0;
                    .scroll_box {
                      overflow-y: auto;
                      margin-top: 1.6rem;
                      padding-bottom: 0.8rem;
                      &::-webkit-scrollbar {
                        width: 0.3rem;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: #d9d9d9;
                        border-radius: 3rem;
                      }
                      .todo_list {
                        display: flex;
                        gap: 0.8rem;
                        flex-direction: column;
                        padding-right: 0.8rem;
                        li {
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                          position: relative;
                          width: 100%;
                          min-height: 4.3rem;
                          padding: 0 1rem 0 3.4rem;
                          background-color: #f8f8f8;
                          border: 0.1rem solid #f3f3f3;
                          border-radius: 0.8rem;
                          &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 1.8rem;
                            left: 1.4rem;
                            width: 0.8rem;
                            height: 0.8rem;
                            background-color: #c7f034;
                            border-radius: 50%;
                          }
                          .todo {
                            font-size: 1.6rem;
                            font-weight: $medium;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          }
                          .date {
                            flex-shrink: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 2.4rem;
                            padding: 0 0.8rem;
                            border-radius: 1.5rem;
                            background-color: #fccbcb;
                            font-size: 1.2rem;
                            font-weight: $medium;
                            color: #e41d1d;
                          }
                          &.d_day {
                            &::before {
                              background-color: #ff4d2d;
                            }
                            .todo {
                              color: #ff4d2d;
                            }
                          }
                        }
                      }
                    }
                  }
                  &.focus_area {
                    .focusAreaSwiper {
                      overflow: visible;
                      .common_swiper_btn {
                        .swiper-button {
                          &-prev {
                            top: 3.7rem;
                            left: -2.5rem;
                          }
                          &-next {
                            top: 3.7rem;
                            right: -2.5rem;
                          }
                        }
                      }
                      .swiper-container {
                        overflow: hidden;
                        .swiper-wrapper {
                          .swiper-slide {
                            width: 100% !important;
                            .progress_wrap {
                              display: flex;
                              justify-content: flex-end;
                              flex-direction: column;
                              padding-right: 3.8rem;
                              height: 14.2rem;
                              .progress_bar {
                                position: relative;
                                width: 100%;
                                height: 1.8rem;
                                background-color: #eaeaea;
                                border-radius: 0.2rem;
                                .progress_current {
                                  position: absolute;
                                  top: 0;
                                  left: 0;
                                  width: 70%;
                                  height: 100%;
                                  background-color: $point;
                                  border-radius: 0.2rem;
                                }
                                .avg,
                                .date {
                                  position: absolute;
                                  left: 50%;
                                  bottom: 7.5rem;
                                  transform: translateX(-50%);
                                  font-size: 1.6rem;
                                  font-weight: $semiBold;
                                  text-transform: capitalize;
                                  &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    bottom: -2.1rem;
                                    transform: translateX(-50%);
                                    width: 0.7rem;
                                    height: 0.7rem;
                                    background-color: #d9d9d9;
                                    border-radius: 50%;
                                  }
                                  &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    bottom: -7.5rem;
                                    transform: translateX(-50%);
                                    width: 0.1rem;
                                    height: 5.7rem;
                                    border-left: 0.1rem dashed #cfcfcf;
                                  }
                                }
                                .date {
                                  left: 70%;
                                  &::before {
                                    background-color: #175df3;
                                  }
                                  &::after {
                                    border-left: 0.1rem solid #175df3;
                                  }
                                }
                                .same_avg_date {
                                  display: flex;
                                  gap: 0.4rem;
                                  justify-content: center;
                                  align-items: center;
                                  position: absolute;
                                  left: 70%;
                                  bottom: 7.5rem;
                                  transform: translateX(-50%);
                                  width: max-content;
                                  height: 3.2rem;
                                  padding: 0 1rem;
                                  background-color: #f6f6f6;
                                  border-radius: 0.4rem;
                                  font-size: 1.6rem;
                                  font-weight: $semiBold;
                                  strong {
                                    font-weight: $bold;
                                  }
                                  &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    bottom: -2.1rem;
                                    transform: translateX(-50%);
                                    width: 0.7rem;
                                    height: 0.7rem;
                                    background-color: #175df3;
                                    border-radius: 50%;
                                  }
                                  &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    bottom: -7.5rem;
                                    transform: translateX(-50%);
                                    width: 0.1rem;
                                    height: 5.7rem;
                                    border-left: 0.1rem solid #175df3;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .tit_box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    padding-bottom: 1.6rem;
                    &::before {
                      content: "";
                      display: block;
                      position: absolute;
                      left: -1.8rem;
                      bottom: 0;
                      width: calc(100% + 3.6rem);
                      height: 0.1rem;
                      background-color: #eaeaea;
                    }
                    .tit {
                      font-size: 2.2rem;
                      font-weight: $semiBold;
                    }
                    .sub_tit {
                      font-size: 1.4rem;
                      font-weight: $medium;
                      color: $point;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .common_banner {
        margin-top: 4rem;
      }
      .info_overview {
        margin-top: 3rem;
        .content_wrap {
          display: flex;
          gap: 1.7rem;
          > div {
            overflow: hidden;
            height: 49.6rem;
            padding: 3rem;
            background-color: #f6f6f6;
            border: 0.1rem solid #f3f3f3;
            border-radius: 1rem;
            &.lesson_activity {
              max-width: 92.5rem;
              .lessonActivitySwiper {
                overflow: visible;
                .swiper-btn-wrap {
                  .swiper-button {
                    &-next {
                      top: 50%;
                      right: -1.8rem;
                      transform: translateY(-50%);
                    }
                    &-prev {
                      top: 50%;
                      left: -1.8rem;
                      transform: translateY(-50%) scaleX(-1);
                    }
                  }
                }
              }
            }
            &.whats_new {
              display: flex;
              flex-direction: column;
              max-width: 59.6rem;
              width: 100%;
              padding-bottom: 0;
              .tit_wrap {
                margin-bottom: 4.5rem;
              }
              .scroll_box {
                overflow-y: auto;
                width: calc(100% + 2.6rem);
                padding-bottom: 2rem;
                &::-webkit-scrollbar {
                  width: 0.3rem;
                }
                &::-webkit-scrollbar-thumb {
                  background-color: #d9d9d9;
                  border-radius: 3rem;
                }
                .news_list {
                  li {
                    ~ li {
                      margin-top: 2rem;
                    }
                    a {
                      display: flex;
                      gap: 2rem;
                      align-items: center;
                      .img_wrap {
                        overflow: hidden;
                        flex-shrink: 0;
                        position: relative;
                        width: 11.3rem;
                        height: 11.3rem;
                        img {
                          width: 100%;
                        }
                        .point {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          position: absolute;
                          top: 0.8rem;
                          left: 0.8rem;
                          height: 3rem;
                          padding: 0 0.7rem;
                          background-color: $point;
                          border-radius: 0.5rem;
                          font-size: 1.6rem;
                          font-weight: $medium;
                          color: $white;
                        }
                      }
                      .txt_wrap {
                        width: calc(100% - 16rem);
                        .tit {
                          display: block;
                          display: -webkit-box;
                          -webkit-line-clamp: 2;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          font-size: 2rem;
                          font-weight: $semiBold;
                          line-height: 3rem;
                        }
                        .desc {
                          display: block;
                          margin-top: 0.2rem;
                          font-size: 1.6rem;
                          color: #999999;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        }
                      }
                    }
                  }
                }
              }
            }
            .tit_wrap {
              display: flex;
              justify-content: space-between;
              margin-bottom: 2.5rem;
              .txt_wrap {
                .tit {
                  font-size: 2.6rem;
                  font-weight: $semiBold;
                }
                .desc {
                  margin-top: 0.6rem;
                  font-size: 1.8rem;
                  font-weight: $medium;
                }
              }
              .btn_all {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3.9rem;
                padding: 0 1.6rem;
                background-color: $white;
                border: 0.1rem solid #f3f3f3;
                border-radius: 0.8rem;
                font-size: 1.6rem;
                font-weight: $medium;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1480px) {
      &#nonStudent {
        .new_info {
          .content_wrap {
            .whatsNewSwiper {
              .swiper-container {
                .swiper-wrapper {
                  .swiper-slide {
                    gap: 1rem;
                    padding: 0 3rem;
                    &.has_info_box {
                      gap: 4rem;
                      justify-content: center;
                    }
                    .info_box {
                      min-width: 30rem;
                      width: 37%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1280px) {
      overflow-x: hidden;
      &#student {
        .user_info {
          .content_wrap {
            .user_wrap {
              .select_wrap {
                .select_box {
                  padding: 0 1.6rem;
                  &::after {
                    margin-left: 2rem;
                  }
                  .select {
                    max-width: 28rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .options {
                  left: auto;
                  right: 0;
                  width: 48rem;
                }
              }
            }
            .user_status_wrap {
              .month_wrap {
                height: auto;
                .status_list {
                  flex-direction: column;
                }
              }
              .education_wrap {
                height: auto;
                .flex_wrap {
                  flex-direction: column;
                  > div {
                    &.todo_wrap {
                      height: auto;
                      .scroll_box {
                        margin-bottom: 1.6rem;
                        height: auto;
                        .todo_list {
                          height: 11rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .info_overview {
          .content_wrap {
            flex-direction: column;
            > div {
              &.lesson_activity {
                overflow: visible;
                max-width: 100%;
              }
              &.whats_new {
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      &#nonStudent {
        .new_info {
          .content_wrap {
            .swiper {
              width: calc(100% + 3.2rem);
              margin-left: -1.6rem;
              padding-left: 2rem;
              &.whatsNewSwiper {
                display: none;
              }
              .swiper-container {
                .swiper-wrapper {
                  .swiper-slide {
                    max-width: 36.4rem;
                    padding: 0;
                  }
                }
              }
            }
            .mo_new_info {
              display: block;
              .info_box {
                width: 100%;
                height: 20rem;
                margin-bottom: 3rem;
                padding: 3rem;
                background-color: $point;
                border-radius: 1.4rem;
                color: $white;
                .txt_wrap {
                  .desc {
                    margin-bottom: 1.2rem;
                    font-size: 1.8rem;
                    font-weight: $bold;
                  }
                  .tit {
                    font-size: 2.6rem;
                    font-weight: $bold;
                  }
                }
              }
              .btn_all {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 5rem;
                margin-top: 2.8rem;
                border: 0.1rem solid #f3f3f3;
                border-radius: 0.8rem;
                font-size: 1.6rem;
                font-weight: $medium;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      &#nonStudent {
        padding-bottom: 10.4rem;
        .visual {
          .visualSwiper {
            height: 37.1rem;
            .swiper-pagination {
              bottom: 8.6rem;
              &.no_status {
                bottom: 2rem;
              }
            }
          }
          .content_wrap {
            .tit_wrap {
              top: 3rem;
              left: 0;
              transform: translateX(0);
              padding: 0 2rem;
              h3 {
                min-height: 1.5rem;
                font-size: 3.4rem;
              }
              .txt {
                font-size: 1.4rem;
                line-height: 2.2rem;
              }
            }
            .application_status_wrap {
              margin-top: -6.6rem;
              padding: 0;
              .my_status {
                top: 2rem;
                left: 2rem;
                font-size: 2rem;
              }
              .statusSwiper {
                padding: 6.6rem 1.6rem 2rem;
                .swiper-btn-wrap {
                  position: static;
                  width: auto;
                  .swiper-pagination {
                    display: none;
                    position: absolute;
                    top: 3.8rem;
                    left: auto;
                    right: 1.6rem;
                    height: 1.4rem;
                    font-size: 1.2rem;
                  }
                  .swiper-button {
                    &-prev {
                      position: absolute;
                      top: 20.8rem;
                      left: 0;
                      border-radius: 50%;
                      box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
                    }
                    &-next {
                      position: absolute;
                      top: 20.8rem;
                      right: 0;
                      border-radius: 50%;
                      box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
                    }
                    &-disabled {
                      display: none;
                    }
                  }
                }
                .swiper-wrapper {
                  .swiper-slide {
                    .class_info_box {
                      height: 31.3rem;
                      padding: 2.4rem;
                      .class_tit {
                        gap: 1.2rem;
                        flex-direction: column-reverse;
                        .status {
                          width: max-content;
                          font-size: 1.4rem;
                        }
                        .tit {
                          font-size: 1.8rem;
                          line-height: 2.7rem;
                        }
                      }
                      .class_info {
                        li {
                          gap: 0.8rem;
                          font-size: 1.4rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .available_courses_list {
          margin-top: 4rem;
          .content_wrap {
            .tit_wrap {
              font-size: 2rem;
            }
            .list_wrap {
              &.courseListMoSwiper {
                display: block;
                margin-top: 1.6rem;
                background-color: $white;
                border-radius: 1.4rem;
                box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.07);
                .common_swiper_btn {
                  .swiper-button {
                    &-prev {
                      top: 16.3rem;
                      left: 0;
                    }
                    &-next {
                      top: 16.3rem;
                      right: 0;
                    }
                  }
                }
                .swiper-container {
                  .swiper-wrapper {
                    .swiper-slide {
                      .available_list {
                        gap: 0;
                        flex-direction: column;
                        padding: 3rem 3.7rem;
                        .day_wrap {
                          width: auto;
                          margin-bottom: 0.9rem;
                          .day {
                            height: 2.4rem;
                            font-size: 1.2rem;
                          }
                        }
                        .info {
                          width: 100%;
                          .tit {
                            margin-bottom: 3rem;
                            font-size: 1.8rem;
                          }
                          .detail_wrap {
                            flex-direction: column;
                            gap: 0.8rem;
                            li {
                              width: 100%;
                              .sort {
                                width: 5rem;
                              }
                            }
                          }
                        }
                        .btn_available {
                          height: 4.5rem;
                          margin: 1.6rem auto 0;
                          font-size: 1.4rem;
                          img {
                            width: 0.9rem;
                            height: 0.9rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .common_banner {
          margin-top: 3.5rem;
        }
        .new_info {
          margin-top: 4rem;
          .content_wrap {
            .swiper {
              .swiper-container {
                .swiper-wrapper {
                  .swiper-slide {
                    max-width: 26.8rem;
                    .news_list {
                      max-width: 100%;
                      height: auto;
                      li {
                        a {
                          gap: 1.4rem;
                          .img_wrap {
                            width: 7.5rem;
                            height: 7.5rem;
                          }
                          .txt_wrap {
                            width: calc(100% - 9rem);
                            .tit {
                              font-size: 1.6rem;
                              line-height: 2rem;
                            }
                            .desc {
                              margin-top: 0.6rem;
                              font-size: 1.4rem;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &#student {
        margin-bottom: 7rem;
        .user_info {
          margin-top: 1rem;
          .content_wrap {
            .user_wrap {
              gap: 3rem;
              flex-direction: column;
              .tit {
                font-size: 2.6rem;
              }
              .select_wrap {
                .select_box {
                  width: 100%;
                  height: 4rem;
                  padding: 0 2rem 0 1.8rem;
                  font-size: 1.4rem;
                  &::after {
                    margin-left: auto;
                  }
                  .desc {
                    margin-right: 2rem;
                    &::after {
                      right: -1rem;
                    }
                  }
                  .select {
                    flex: 1;
                    max-width: unset;
                    margin-right: 3rem;
                    text-align: left;
                  }
                }
                .options {
                  top: 4.6rem;
                  width: 100%;
                }
              }
            }
            .user_status_wrap {
              gap: 5rem;
              flex-direction: column;
              margin-top: 1.5rem;
              .month_wrap {
                gap: 2rem;
                max-width: 100%;
                padding-top: 2rem;
                .month {
                  gap: 1rem;
                  .num {
                    font-size: 2rem;
                  }
                }
                .status_list {
                  flex-direction: row;
                  li {
                    height: 14.8rem;
                    padding: 1.6rem;
                    .progress_wrap {
                      .num_wrap {
                        gap: 0.5rem;
                        .num {
                          font-size: 3rem;
                        }
                        .total {
                          padding-bottom: 0.4rem;
                          font-size: 1.6rem;
                        }
                      }
                    }
                  }
                }
              }
              .education_wrap {
                width: calc(100% + 3.2rem);
                margin-left: -1.6rem;
                padding: 3rem 1.6rem;
                border-top: 0.1rem solid rgba($color: #f3f3f3, $alpha: 0.65);
                border-bottom: 0.1rem solid rgba($color: #f3f3f3, $alpha: 0.65);
                border-radius: 0;
                .tit_wrap {
                  .tit {
                    margin-bottom: 0.4rem;
                    font-size: 2rem;
                    font-weight: $bold;
                  }
                  .desc {
                    font-size: 1.6rem;
                  }
                }
                .flex_wrap {
                  > div {
                    padding: 1.3rem 1rem;
                    .tit_box {
                      position: relative;
                      padding-bottom: 1.3rem;
                      cursor: pointer;
                      &::before {
                        display: none;
                        left: -1rem;
                        width: calc(100% + 2rem);
                      }
                      &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0.2rem;
                        right: 1rem;
                        width: 1.6rem;
                        height: 1.6rem;
                        background: url(../images/main/btn_more.svg) no-repeat
                          center/cover;
                      }
                      .tit {
                        font-size: 1.8rem;
                      }
                      &.active {
                        &::before {
                          display: block;
                        }
                        &::after {
                          transform: rotate(180deg);
                        }
                      }
                    }
                    &.todo_wrap {
                      .scroll_box {
                        display: none;
                        margin: 1rem 0;
                        padding-bottom: 0;
                        &.active {
                          display: block;
                        }
                        .todo_list {
                          height: 15.8rem;
                          padding-right: 0.4rem;
                          li {
                            gap: 1rem;
                            min-height: 4.7rem;
                            padding: 0 2rem 0 2.9rem;
                            .todo {
                              font-size: 1.4rem;
                            }
                            .date {
                              height: 1.8rem;
                              padding: 0 0.5rem;
                            }
                          }
                        }
                      }
                    }
                    &.focus_area {
                      .tit_box {
                        gap: 0.4rem;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-bottom: 0;
                        &::after {
                          right: 0.4rem;
                        }
                        .sub_tit {
                          display: none;
                        }
                        &.active {
                          padding-bottom: 1rem;
                          .sub_tit {
                            display: block;
                          }
                        }
                      }
                      .focusAreaSwiper {
                        display: none;
                        &.active {
                          display: block;
                        }
                        .common_swiper_btn {
                          .swiper-button {
                            &-prev {
                              top: 2.9rem;
                              left: -1.3rem;
                            }
                            &-next {
                              top: 2.9rem;
                              right: -1.3rem;
                            }
                          }
                        }
                        .swiper-container {
                          .swiper-wrapper {
                            .swiper-slide {
                              .progress_wrap {
                                height: 10.1rem;
                                margin: 3rem 0 1.4rem;
                                padding: 0 1.4rem;
                                .progress_bar {
                                  .avg,
                                  .date {
                                    font-size: 1.4rem;
                                  }
                                  .same_avg_date {
                                    gap: 0.2rem;
                                    height: 2.9rem;
                                    padding: 0 0.8rem;
                                    font-size: 1.4rem;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .info_overview {
          margin-top: 5rem;
          .content_wrap {
            gap: 4rem;
            > div {
              position: relative;
              height: auto;
              padding: 3rem 1.6rem 11.1rem;
              .tit_wrap {
                margin-bottom: 3rem;
                .txt_wrap {
                  .tit {
                    font-size: 2rem;
                    font-weight: $bold;
                  }
                  .desc {
                    font-size: 1.6rem;
                  }
                }
                .btn_all {
                  position: absolute;
                  width: calc(100% - 3.2rem);
                  height: 5rem;
                  bottom: 3rem;
                  left: 1.6rem;
                }
              }
              &.whats_new {
                padding-bottom: 11.1rem;
                .scroll_box {
                  width: 100%;
                  .news_list {
                    height: 24.5rem;
                    li {
                      a {
                        gap: 1.4rem;
                        .img_wrap {
                          width: 7.5rem;
                          height: 7.5rem;
                          .point {
                            top: 0.6rem;
                            left: 0.6rem;
                            height: 2.4rem;
                            padding: 0 0.6rem;
                            font-size: 1.2rem;
                          }
                        }
                        .txt_wrap {
                          width: calc(100% - 8.9rem);
                          .tit {
                            width: 96%;
                            font-size: 1.6rem;
                            line-height: 2rem;
                          }
                          .desc {
                            margin-top: 0.6rem;
                            font-size: 1.4rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
