.container {
  &.teachers {
    padding-left: 30.6rem;
    .content_wrap {
      max-width: 144.6rem;
      width: 100%;
      padding: 0 1.6rem;
      margin: auto;
    }

    &#myInfo {
      margin-bottom: 7rem;
      .user_info_wrap {
        margin-top: 3rem;
        .content_wrap {
          display: flex;
          gap: 3rem;
          align-items: center;
          .thumbnail {
            overflow: hidden;
            display: block;
            width: 12rem;
            height: 12rem;
            background-color: #d0d0d0;
            border-radius: 50%;
            img {
              width: 100%;
            }
          }
          .info_wrap {
            .name {
              margin-bottom: 1rem;
              font-size: 2.8rem;
              font-weight: $semiBold;
            }
            .info {
              display: flex;
              gap: 2.2rem;
              align-items: center;
              font-size: 1.6rem;
              font-weight: $medium;
              color: #999999;
              span {
                ~ span {
                  position: relative;
                  &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0.8rem;
                    left: -1.4rem;
                    width: 0.4rem;
                    height: 0.4rem;
                    background-color: #d9d9d9;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
      .info_tab_wrap {
        margin-top: 4rem;
        .content_wrap {
          .tab_btn_wrap {
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;
            border-bottom: 0.1rem solid #f0f0f0;
            .btn_tab {
              display: flex;
              justify-content: center;
              position: relative;
              height: 4.6rem;
              padding: 0 2rem;
              font-size: 2rem;
              font-weight: $semiBold;
              color: #bcbcbc;
              .d_day {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5rem;
                height: 2.4rem;
                background-color: #fccbcb;
                border-radius: 1.5rem;
                font-size: 1.2rem;
                font-weight: $medium;
                color: #e41d1d;
              }
              &.active {
                color: #262626;
                &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  bottom: -0.1rem;
                  left: 0;
                  width: 100%;
                  height: 0.2rem;
                  background-color: #262626;
                }
              }
            }
          }
          .tab_contents {
            .tab_content {
              display: none;
              &.active {
                display: block;
              }
              .info_box {
                padding: 1.8rem 2rem 2rem;
                background-color: #fafafa;
                border-radius: 1.4rem;
                ~ .info_box {
                  margin-top: 2rem;
                }
                .info_tit {
                  display: flex;
                  gap: 0.7rem;
                  align-items: center;
                  margin-bottom: 1.8rem;
                  font-size: 1.8rem;
                  font-weight: $semiBold;
                }
                .info_list {
                  width: 100%;
                  padding: 3rem;
                  background-color: $white;
                  border: 0.1rem solid #ececec;
                  border-radius: 1.4rem;
                  li {
                    display: flex;
                    gap: 3.5rem;
                    ~ li {
                      margin-top: 1.8rem;
                    }
                    .sort {
                      flex-shrink: 0;
                      width: 18rem;
                      font-size: 1.6rem;
                      font-weight: $medium;
                      color: #707070;
                    }
                    .detial {
                      display: flex;
                      gap: 0.5rem;
                      align-items: center;
                      font-size: 1.8rem;
                      font-weight: $medium;
                      .color_gray {
                        color: #999999;
                      }
                      .circle_wrap {
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                        .circle {
                          display: block;
                          width: 0.8rem;
                          height: 0.8rem;
                          background-color: $black;
                          border-radius: 50%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      &#myInfo {
        margin-top: 6.2rem;
        margin-bottom: 5rem;
        .user_info_wrap {
          margin-top: 0;
          padding-top: 2rem;
          .content_wrap {
            gap: 2rem;
            flex-direction: column;
            text-align: center;
            .thumbnail {
              width: 8rem;
              height: 8rem;
            }
            .info_wrap {
              .name {
                font-size: 2.2rem;
              }
            }
          }
        }
        .info_tab_wrap {
          margin-top: 4.5rem;
          .content_wrap {
            .tab_btn_wrap {
              overflow-x: auto;
              gap: 0;
              width: calc(100% + 3.2rem);
              height: 4rem;
              margin-left: -1.6rem;
              padding: 0 1.6rem;
              &::-webkit-scrollbar {
                display: none;
              }
              .btn_tab {
                flex-shrink: 0;
                flex: 1;
                height: 3.8rem;
                padding: 0;
                font-size: 1.8rem;
                font-weight: $medium;
                &.active {
                  font-weight: $semiBold;
                  padding: 0;
                }
              }
            }
            .tab_contents {
              .tab_content {
                .info_box {
                  padding: 1.6rem;
                  border-radius: 1rem;
                  .info_tit {
                    gap: 0.5rem;
                    margin-bottom: 1rem;
                    img {
                      width: 1.8rem;
                      height: 1.8rem;
                    }
                  }
                  .info_list {
                    padding: 1.6rem;
                    border-radius: 1rem;
                    li {
                      gap: 0.8rem;
                      flex-direction: column;
                      ~ li {
                        margin-top: 2rem;
                      }
                      .sort {
                        width: 100%;
                        font-size: 1.4rem;
                      }
                      .detial {
                        font-size: 1.6rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
