$black: #000;
$white: #fff;
$point: #3d62e4;

// font-weight
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// timer
$delay: 0.8s;
