@import "_mixin";
@import "_variable";
@import "font";

html,
body {
  background-color: $white;
  font-size: 62.5%;
  color: $black;
}
body {
  overflow-x: hidden;
}

.blind {
  @include blind;
}

.pc_hidden {
  display: none !important;
}

.mo_hidden {
  display: block !important;
}

:root {
  --vh: 1vh;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);

  .content_wrap {
    position: relative;
    max-width: 175rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  input,
  textarea {
    font-family: "Pretendard", sans-serif;
  }

  .mask {
    overflow: hidden;
  }

  [data-aos="fade-up"] {
    transform: translate3d(0, 30px, 0) !important;
  }
  [data-aos^=fade][data-aos^=fade].aos-animate {
    transform: translateZ(0) !important;
  }

  @keyframes slideUp {
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .common_tit_wrap {
    overflow: hidden;
    padding: 2.8rem 0 9rem;
    border-bottom: 0.1rem solid #eaeaea;
    .content_wrap {
      display: flex;
      gap: 4.8rem;
      justify-content: space-between;
      align-items: flex-end;
      h2 {
        .mask {
          display: inline-block;
          margin-right: 1.6rem;
          .text {
            opacity: 0;
            display: inline-block;
            transform: translateY(100%);
            font-size: 8.6rem;
            font-weight: $semiBold;
            line-height: 9.7rem;
            letter-spacing: -0.02em;
            color: #15181e;
            &.text_gray {
              color: #b2b2b2;
            }
          }
        }
        &.active {
          .mask {
            .text {
              animation: slideUp 0.8s cubic-bezier(.17,.84,.44,1) forwards;
              &.text_gray {
                animation-delay: 0.15s;
              }
            }
          }
        }
      }
      .common_desc {
        opacity: 0;
        transition: opacity 1s cubic-bezier(.17,.84,.44,1) 0.4s;
        flex-shrink: 0;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: rgba($color: #15181e, $alpha: 0.3);
        text-align: right;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  #wrap {
    .common_tit_wrap {
      .content_wrap {
        h2 {
          .mask {
            margin-right: 1.2rem;
            .text {
              font-size: 5.5rem;
              line-height: 7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .pc_hidden {
    display: block !important;
  }

  .mo_hidden {
    display: none !important;
  }

  #wrap {
    .common_tit_wrap {
      padding: 3rem 0 1.6rem;
      .content_wrap {
        flex-direction: column;
        align-items: flex-start;
        h2 {
          .mask {
            margin-right: 0.8rem;
            .text {
              font-size: 3.6rem;
              line-height: 4.2rem;
            }
          }
        }
        .common_desc {
          font-size: 1.2rem;
          line-height: 1.6rem;
          text-align: left;
        }
      }
    }
  }
}
