#footer {
  width: 100%;
  background-color: #111111;
  color: $white;
  .content_wrap {
    display: flex;
    position: relative;
    max-width: 155rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .top_wrap {
    padding: 9rem 0 16rem;
    border-bottom: 0.1rem solid rgba($color: $white, $alpha: 0.1);
    .content_wrap {
      .desc_wrap {
        .desc_tit {
          margin-bottom: 2rem;
          font-family: $font-Satoshi;
          font-size: 4.8rem;
          font-weight: $medium;
          line-height: 5.2rem;
          text-transform: uppercase;
        }
        .desc_desc {
          margin-bottom: 5.2rem;
          font-size: 1.8rem;
          line-height: 3.1rem;
          letter-spacing: -0.02em;
        }
        .btn_touch {
          transition: all 0.5s cubic-bezier(.17,.84,.44,1);
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          max-width: 26.3rem;
          width: 100%;
          height: 7.6rem;
          padding: 0 0.6rem 0 2rem;
          background-color: $white;
          border-radius: 1.2rem;
          font-size: 1.8rem;
          font-weight: $medium;
          color: #111111;
          .txt {
            display: inline-block;
            position: relative;
            overflow: hidden;   
            line-height: 1.8rem; 
            height: 1.8rem;  
            will-change: transform;
            .txt_line {
              display: block; 
              transition: transform .6s cubic-bezier(.17,.84,.44,1);
              will-change: transform;
              &_top {
                transform: translateY(0);
              }
              &_bottom {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(100%);
              }
            }
          }
          .arrow {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0.6rem;
            right: 0.6rem;
            width: 6.4rem;
            height: 6.4rem;
            background-color: #111111;
            border-radius: 0.8rem;
            &::before,
            &::after {
              content: '';
              display: block;
              width: 2rem;
              height: 1.3rem;
              background: url(../images/common/ic_footer_arrow.svg) no-repeat center/cover;
              transition: transform .5s cubic-bezier(.17,.84,.44,1), opacity .5s;
              will-change: transform;
            }
            &::before {
              transform: translateX(0);
            }
            &::after {
              position: absolute;
              transform: translateX(calc(-50% - 300%));
            }
          }
          &:hover {
            .txt {
              .txt_line {
                &_top {
                  transform: translateY(-100%);
                }
                &_bottom {
                  transform: translateY(0);
                }
              }
            }
            .arrow {
              &::before {
                transform: translateX(calc(-50% + 300%));
              }
              &::after {
                transform: translateX(0);
              }
            }
          }
        }
      }
      .footer_link {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        li {
          .btn_link {
            transition: all 0.4s cubic-bezier(.17,.84,.44,1);
            display: block;
            font-family: $font-Satoshi;
            font-size: 2.6rem;
            line-height: 5rem;
            color: #797979;
            text-transform: uppercase;
            &:hover {
              color: $white;
            }
          }
        }
      }
      .info_wrap {
        margin-left: auto;
        font-size: 1.5rem;
        font-weight: $medium;
        line-height: 2.4rem;
        letter-spacing: -0.02em;
        color: rgba($color: $white, $alpha: 0.8);
        text-align: right;
        .info_email {
          text-transform: lowercase;
        }
        .info_address {
          margin: 0.5rem 0;
        }
        .sns_link {
          display: flex;
          gap: 2rem;
          justify-content: flex-end;
          align-items: center;
          margin-top: 3.2rem;
          li {
            a {
              display: block;
              width: 3.2rem;
              height: 3.2rem;
              &.sns_instagram {
                background: url(../images/common/logo_instagram.svg) no-repeat
                  center/cover;
              }
              &.sns_naver {
                background: url(../images/common/logo_naver.svg) no-repeat
                  center/cover;
              }
            }
          }
        }
      }
    }
  }
  .bottom_wrap {
    padding: 3.6rem 0;
    .content_wrap {
      justify-content: space-between;
      align-items: center;
      .copyright {
        opacity: 0.3;
        font-size: 1.6rem;
        font-weight: $medium;
      }
      .terms_link {
        display: flex;
        gap: 4.4rem;
        align-items: center;
        li {
          a {
            display: block;
            font-size: 1.4rem;
            font-weight: $medium;
            color: #4e4e4e;
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .top_wrap {
      .content_wrap {
        .footer_link {
          display: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .top_wrap {
      padding: 10rem 0 6rem;
      .content_wrap {
        gap: 12rem;
        flex-direction: column;
        .desc_wrap {
          text-align: center;
          .desc_tit {
            margin-bottom: 1.2rem;
            font-size: 3.6rem;
            line-height: 4rem;
            letter-spacing: -0.01em;
          }
          .desc_desc {
            margin-bottom: 3.6rem;
            opacity: 0.8;
            font-size: 1.5rem;
            line-height: 2.4rem;
          }
          .btn_touch {
            width: 21.1rem;
            height: 6rem;
            margin: 0 auto;
            padding: 0 0.4rem 0 1.6rem;
            font-size: 1.5rem;
            .arrow {
              top: 0.4rem;
              right: 0.4rem;
              width: 5.2rem;
              height: 5.2rem;
            }
          }
        }
        .info_wrap {
          margin: 0 auto;
          text-align: center;
          .info_email,
          .info_address,
          .info_num {
            opacity: 0.8;
          }
          .sns_link {
            justify-content: center;
          }
        }
      }
    }
    .bottom_wrap {
      .content_wrap {
        gap: 2rem;
        flex-direction: column;
      }
    }
  }
}
