#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.4s;
  width: 100%;
  height: 10.7rem;
  background-color: $white;
  transition: all 0.2s linear;
  .content_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 175rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    nav {
      ul {
        display: flex;
        gap: 6rem;
        align-items: center;
        li {
          .depth1 {
            display: block;
            font-size: 1.6rem;
            font-weight: $medium;
            line-height: 5rem;
            color: #232323;
          }
        }
      }
    }
    .logo {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 17.4rem;
      height: 3.4rem;
      background: url(../images/common/logo.svg) no-repeat center/cover;
      filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(344deg)
        brightness(103%) contrast(103%);
    }
    .btn_contact {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s;
      width: 16.3rem;
      height: 4.3rem;
      background-color: #232323;
      border-radius: 10rem;
      font-size: 1.6rem;
      font-weight: $medium;
      color: $white;
      &:hover {
        background-color: #474747;
      }
    }
    .btn_menu,
    .mo_nav_wrap {
      display: none;
    }
  }
  &.dark {
    background-color: #111111;
    .content_wrap {
      nav {
        ul {
          li {
            .depth1 {
              color: $white;
            }
          }
        }
      }
      .logo {
        filter: none;
      }
      .btn_contact {
        background-color: $white;
        color: #111111;
        &:hover {
          background-color: #EBEFF2;
        }
      }
    }
  }
  &.down {
    transform: translateY(-100%);
  }
  @media (max-width: 1024px) {
    .content_wrap {
      nav {
        ul {
          gap: 3rem;
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: 8rem;
    .content_wrap {
      nav,
      .btn_contact {
        display: none;
      }
      .logo {
        position: static;
        transform: translate(0, 0);
        width: 13.4rem;
        height: 2.6rem;
      }
      .btn_menu {
        display: flex;
        gap: 0.3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        span {
          display: block;
          width: 1.7rem;
          height: 0.2rem;
          background-color: $black;
          transition: all 0.3s ease-in-out;
        }
        &.active {
          span {
            &:nth-child(1) {
              transform: translateY(0.6rem) rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: translateY(-0.4rem) rotate(-45deg);
            }
          }
        }
      }
      .mo_nav_wrap {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 8rem;
        right: -100%;
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100 - 8rem);
        padding: 1.6rem 1.5rem 4rem;
        background-color: #111111;
        color: $white;
        &.active {
          right: 0;
        }
        .mo_nav_list {
          li {
            .mo_depth1 {
              display: block;
              padding: 2rem 0;
              border-bottom: 0.1rem solid rgba($color: $white, $alpha: 0.1);
              font-size: 4.2rem;
              font-weight: $semiBold;
              line-height: 5rem;
              color: $white;
            }
          }
        }
        .info_wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .sns_list {
            display: flex;
            gap: 2rem;
            li {
              .ic_sns {
                display: block;
                width: 3.2rem;
                height: 3.2rem;
                &.instagram {
                  background: url(../images/common/logo_instagram.svg) no-repeat
                    center/cover;
                }
                &.naver {
                  background: url(../images/common/logo_naver.svg) no-repeat
                    center/cover;
                }
              }
            }
          }
          .info_txt {
            opacity: 0.6;
            font-size: 1.4rem;
            font-weight: $medium;
            line-height: 2.4rem;
            letter-spacing: -0.02em;
            text-align: right;
            text-transform: lowercase;
          }
        }
      }
    }
    &.dark {
      .content_wrap {
        .btn_menu {
          filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(344deg)
            brightness(103%) contrast(103%);
        }
      }
    }
    &.active {
      background-color: #111111;
      .content_wrap {
        .logo {
          filter: none;
        }
        .btn_menu {
          filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(344deg)
            brightness(103%) contrast(103%);
        }
      }
    }
  }
}
