.container {
  /* 위탁운영 */
  &#operatePage {
    padding-top: 10.7rem;
    .visual {
      padding: 3rem 0 8rem;
      .content_wrap {
        .img_grid {
          display: flex;
          justify-content: space-between;
          .item {
            .img_wrap {
              opacity: 0;
              transition: opacity 1s cubic-bezier(.17,.84,.44,1);
              overflow: hidden;
              position: relative;
              // &::after {
              //   content: "";
              //   position: absolute;
              //   inset: 0;
              //   z-index: 2;
              //   transform: translateX(0%);
              //   transition: transform 1.6s ease;
              //   background-color: $white;
              // }
              img {
                width: 100%;
              }
            }
            &.left {
              display: flex;
              gap: 7rem;
              flex-direction: column-reverse;
              justify-content: space-between;
              padding-top: 3.2rem;
              .img_wrap {
                width: 21.5rem;
              }
              .txt_wrap {
                color: #15181E;
                .tit {
                  margin-bottom: 2rem;
                  font-size: 2.4rem;
                  font-weight: $bold;
                  line-height: 2.8rem;
                  letter-spacing: -0.02em;
                }
                .desc {
                  font-size: 1.8rem;
                  font-weight: $medium;
                  line-height: 3rem;
                  letter-spacing: -0.02em;
                }
              }
            }
            &.right {
              max-width: 96.9rem;
              width: 58%;
              .sm_img,
              .sm {
                display: none;
              }
              .img_wrap {
                width: 100%;
              }
            }
          }
          &.active {
            .item {
              .img_wrap {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .explore_program {
      padding: 18rem 0 0;
      background-color: #161617;
      color: $white;
      .content_wrap {
        max-width: 155rem;
        .tit_wrap {
          .sub_tit {
            margin-bottom: 2.8rem;
            padding-left: 0.4rem;
            font-size: 2rem;
            font-weight: $semiBold;
            .text {
              opacity: 0;
              display: inline-block;
              transform: translateY(100%);
            }
          }
          h3 {
            font-family: $font-Satoshi;
            font-size: 6.4rem;
            font-weight: $bold;
            line-height: 6.4rem;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            .mask {
              display: inline-block;
              .text {
                opacity: 0;
                display: inline-block;
                transform: translateY(100%);
              }
            }
          }
          &.active {
            .sub_tit {
              .text {
                animation: slideUp 0.6s cubic-bezier(.17,.84,.44,1) forwards;
              }
            }
            h3 {
              .mask {
                .text {
                  animation: slideUp 0.6s cubic-bezier(.17,.84,.44,1) forwards 0.2s;
                }
                &:nth-child(n+2) {
                  .text {
                    animation-delay: 0.35s;
                  }
                } 
              }
            }
          }
        }
        .sticky_wrap {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          margin-top: 8.6rem;
          .left_box {
            position: relative;
            flex-shrink: 0;
            width: 37.8rem;
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 0.1rem;
              height: 100%;
              background-color: #292929;
            }
            .sticky_box {
              position: sticky;
              top: 15rem;
              padding-bottom: 20rem;
              .has_line {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 0.3rem;
                height: 4.5rem;
                background-color: $white;
              }
              .program_txt_list {
                padding-top: 2.4rem;
                li {
                  cursor: pointer;
                  opacity: 0.4;
                  transition: all 0.4s;
                  padding-left: 3.2rem;
                  font-size: 2.1rem;
                  font-weight: $medium;
                  line-height: 5rem;
                  &.active {
                    opacity: 1;
                    position: relative;
                  }
                }
              }
            }
          }
          .right_box {
            flex: 1;
            max-width: 103.4rem;
            padding-bottom: 20rem;
            .program_box {
              opacity: 0.2;
              transition: all 0.3s;
              ~ .program_box {
                border-top: 0.1rem solid #292929;
                margin-top: 6rem;
                padding-top: 6rem;
              }
              .txt_wrap {
                margin-bottom: 5.6rem;
                .program_tit {
                  margin-bottom: 0.4rem;
                  font-size: 3.2rem;
                  font-weight: $bold;
                  line-height: 5rem;
                }
                .program_desc {
                  font-size: 1.5rem;
                  line-height: 2.7rem;
                  letter-spacing: -0.01em;
                  color: #AEAEAE;
                  word-break: keep-all;
                }
              }
              img {
                border-radius: 0.8rem;
              }
              &.active {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1280px) {
      .visual {
        .content_wrap {
          .img_grid {
            gap: 3rem;
            .item {
              &.left {
                gap: 3rem;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .visual {
        .content_wrap {
          .img_grid {
            gap: 3.4rem;
            flex-direction: column-reverse;
            .item {
              &.left {
                .img_wrap {
                  display: none;
                }
                .txt_wrap {
                  margin-top: 0;
                  width: 100%;
                  text-align: right;
                }
              }
              &.right {
                display: flex;
                gap: 0.7rem;
                align-items: flex-end;
                max-width: none;
                width: 100%;
                .sm_img {
                  display: block;
                  width: 45.7%;
                }
                .lg {
                  display: none;
                }
                .sm {
                  display: block;
                }
              }
            }
          }
        }
      }
      .explore_program {
        .content_wrap {
          .sticky_wrap {
            .left_box {
              width: 26rem;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .visual {
        padding: 1.6rem 0 4.2rem;
        .content_wrap {
          .img_grid {
            .item {
              &.left {
                padding-top: 0;
                .txt_wrap {
                  .tit {
                    margin-bottom: 0.5rem;
                    font-size: 1.8rem;
                  }
                  .desc {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    letter-spacing: -0.04em;
                  }
                }
              }
            }
          }
        }
      }
      .explore_program {
        padding: 8rem 1rem 9.2rem;
        .content_wrap {
          .tit_wrap {
            .sub_tit {
              margin-bottom: 1.6rem;
              padding-left: 0;
              font-size: 1.6rem;
              letter-spacing: -0.01em;
            }
            h3 {
              font-size: 3.2rem;
              line-height: 1;
            }
          }
          .sticky_wrap {
            gap: 0;
            margin-top: 6rem;
            .left_box {
              display: none;
            }
            .right_box {
              padding-bottom: 0;
              .program_box {
                ~ .program_box {
                  margin-top: 4.8rem;
                  padding-top: 4.8rem;
                }
                .txt_wrap {
                  margin-bottom: 3.6rem;
                  .program_tit {
                    font-size: 2.3rem;
                    line-height: normal;
                  }
                  .program_desc {
                    br {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
