@mixin blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

@mixin background100 {
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
@mixin translateX($x) {
  @include transform(translateX($x));
}
@mixin translateY($y) {
  @include transform(translateY($y));
}

@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
    }
    @else {
      display: -webkit-box;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
    }
  }

@mixin flex($dir: 'row', $justify: 'cen' ,$align: 'cen') {
    display: flex;
    @if ($dir=='row'){

    }

    @else {
                flex-direction: column;
    }

    @if ($justify=='cen') {
                justify-content: center;
    }

    @else if ($justify== 'bet') {
                justify-content: space-between;
    }

    @else if ($justify=='str') {
    }

    @else if ($justify=='end') {
                justify-content: flex-end;
    }

    @else if ($justify=='aro') {
            justify-content: space-around;
    }

    @if ($align== 'cen') {
                align-items: center;
    }

    @else if ($align== 'str'){
                align-items: flex-start;
    }

    @else if ($align== 'end'){
                align-items: flex-end;
    }
}


  
@mixin tablet {
   @media screen and (max-width: 1400px){
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 375px){ 
        @content;
    }
  }
