html,
body {
  font-family: "Montserrat", sans-serif;
}
/* 공통 컨텐츠 font */
/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/assets/font/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("/assets/font/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
